.App {
    background-color: rgb(61, 118, 54);
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.Test {
    background-color: rgb(158, 144, 62);
    color: #fff;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

.Flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #808080;
}